[2022-02-24 15:05] SpraxDev opened #1 "Create Automated Test / Build / Release workflow"
Everything that is achievable with GitHub Actions, should be done in there

* [x] Build the project
  * [x] Plugin `.zip` as build artifact
* [x] Run tests
* [x] Generate a coverage report
* [x] Setup SonarCloud (when project is public)

- - -

* [x] Release workflow

[2022-02-24 21:33] nico-loeber opened #2 "Provide Terminal integration for DDEV SSH"
Add a custom Terminal for the running DDEV web container.
In case a terminal executable is required, maybe a wrapper file executing ddev ssh could be used.

[2022-02-24 21:34] nico-loeber opened #3 "Provide auto configured PHP Interpreter"
Create an auto configured PHP Interpreter that is set up to execute composer and phpunit tasks.

[2022-02-24 21:35] nico-loeber opened #4 "Provide auto configured Data Source"
Provide an auto configured data source enabling auto completion for writing SQL Queries.

[2022-02-24 23:53] nico-loeber opened #5 "Interactive Tutorial"
Explain the functionality of the plugin with "Got it" tooltips.

https://jetbrains.design/intellij/controls/got_it_tooltip/

[2022-02-24 23:55] nico-loeber opened #6 "Fix Status Updates for Services in Status Bar"
The status bar services sometimes get out of sync with the ddev state. This is caused by a missing listener on the changed event.

[2022-02-25 00:00] #6 closed, assigned to nico-loeber

[2022-02-25 22:51] nico-loeber opened #7 "Create JSON Schema for DDEV configuration"
For auto completion and validation of the DDEV configuration a json schema is needed. The more details we can provide, the better the auto completion will work.
Goal is to give enough inforamtion about the data structure, so no documentation is needed for configuration.
The schema file should be pull requested to the ddev repository, to allow it be versioned together with the configuration itself.

[2022-02-26 15:14] nico-loeber opened #8 "Better integrate DDEV Share"
DDEV Share requires ngrok and a valid API Key. After sharing you get an external URL. The tunnel is available until you close the process. Maybe DDEV share shouldn't trigger a Run Terminal and should happen in background instead with configuring the API Token in global settings. (The Current Settings are project related)

[2022-02-26 15:19] nico-loeber opened #9 "Create a representative readme.md"
We need a readme.

[2022-03-01 21:06] nico-loeber opened #10 "GSON necessary?"
Check if IntelliJ already includes some method for JSON Parsing

[2022-03-06 16:10] nico-loeber opened #12 "non deterministic test DdevPredefinedTerminalActionProviderTest"
This test seems to be non deterministic

[2022-03-06 16:11] #2 closed, assigned to juulliian

[2022-03-06 16:11] #4 closed, assigned to nico-loeber

[2022-03-06 16:14] #3 closed, assigned to nico-loeber

[2022-03-12 14:10] #12 closed, assigned to nobody

[2022-03-12 16:05] juulliian opened #13 "Update notice suggests wrong update"
The update notice suggests to update from 1.19.0-alpha-5 to 1.18.2 (notice came before release of 1.19.0)
<img width="466" alt="Update hinweis" src="https://user-images.githubusercontent.com/14262622/158025413-a6ef15b6-f7ac-4006-9bf9-3c8cfa0856bb.png">

[2022-03-12 16:08] juulliian opened #14 "Auto provide run configurations for custom DDEV commands"
Automatically register custom DDEV comands as run configurations in PhpStorm/IntelliJ

[2022-03-20 16:29] #13 closed, assigned to nobody

[2022-04-03 10:37] nico-loeber opened #15 "Improve PHP Interpreter registration"
Currently the PHP Interpreter is recreated even there was no change to the DDEV PHP Configuration.
This is causing an annoying modal progress bar.
If possible this should only happen on change of the Interpreter related settings:
- PHP Version
- Project Name
- Compose File location

[2022-04-08 08:12] rfay opened #16 ""DDEV integration" not found in Marketplace"
Following the instructions to install I went to plugins -> Marketplace to look for "DDEV' or "DDEV integration" but don't see it there.
<img width="934" alt="Cursor_and_Preferences" src="https://user-images.githubusercontent.com/112444/162393956-04f73693-52ec-46b7-9c41-914d082092f5.png">

[2022-04-12 18:05] #7 closed

[2022-04-14 18:35] #9 closed

[2022-04-15 22:45] nico-loeber commented on #16
I have added details on testing non-stable versions in [CONTRIBUTING.md](https://github.com/php-perfect/ddev-intellij-plugin/blob/main/CONTRIBUTING.md#testing-of-pre-releases). I also linked the plugin in the Jetbrains Market Place in the [README.md](https://github.com/php-perfect/ddev-intellij-plugin/blob/main/README.md#installation), where you can also download non-stable versions manually.

I t

[2022-04-16 13:42] SpraxDev commented on #1
Cosesd by #20

[2022-04-16 13:42] #1 closed

[2022-04-16 14:47] #15 closed

[2022-04-18 09:44] marcvangend opened #22 "Add feature documentation"
After installing the plugin (alpha2) it wasn't immediately clear to me where to find the advertised features. It would be helpful if the README documents how to enable and/or use everything the plugin adds.

Related issue: #5 proposes a different way of onboarding new users. I think both are worthwhile in their own right.

[2022-04-18 19:20] nico-loeber commented on #22
Thanks for your feedback, @marcvangend!
We did focus on developing the plugin. Of course we plan to provide a user documentation as well as additional information for developers.
I would like to use Github Wiki for the user documentation.

https://github.com/php-perfect/ddev-intellij-plugin/wiki
Contributions are welcome!

Could you please describe what the actual problem was that you had?
Most th

[2022-04-18 21:00] marcvangend commented on #22
Thanks Nico. I totally understand you wanted to get it working first. Of course the wiki is great for documentation too.

You are right that most (all?) features seem to work out of the box. I just didn't expect it would be that easy :laughing:

The two features I was most curious about (and triggered me to create this issue), are the auto-configuring datasource and the DDEV terminal. For the data

[2022-04-19 06:50] marcvangend opened #23 "CommandFailedException"
Today, when starting PhpStorm, the IDE reported that this error occurred once:

[code]

This happened with a DDEV-enabled project, which had been opened with the DDEV-plugin before. At the moment I started PhpStorm, DDEV had already been started in a separate terminal.

I'm using the Alpha 2 release on PhpStorm build PS-221.5080.224 on MacOs.

[2022-04-19 07:46] nico-loeber commented on #22
Thank you for clarifying @marcvangend!
This would by my solution for this issue:
- I already increased the priority of the interactive tutorial and made it part of the 1.0.0 milestone (Was planned as a nice to have after release before)
- As soon as we are a feature complete and the behavior won't change, I will document every feature and how to use it in the Wiki.

Do you agree with this solution

[2022-04-19 07:52] nico-loeber commented on #23
Thank you for reporting @marcvangend!
Can you reproduce this error, or does it occure randomly?

[2022-04-19 07:56] nico-loeber opened #24 "DataSource auto configuration not working on Manjaro Linux"
The port of the integration was detected. Found that I have to replace "localhost" with "127.0.0.1" to get it run.

jdbc:mysql://localhost:49171/db?user=db&password=db

vs.

jdbc:mysql://127.0.0.1:49171/db?user=db&password=db

_Originally posted by @cmuench in https://github.com/php-perfect/ddev-intellij-plugin/discussions/21#discussioncomment-2590625_

[2022-04-19 08:01] marcvangend commented on #22
Absolutely, I think this is the way to go 👌

[2022-04-19 08:02] nico-loeber commented on #24
Thanks for reporting @cmuench! So the problem was only that localhost was not resolved correctly?
I think this shouldn't be a problem with the plugin itself. Of course we could change the address to 127.0.0.1 but first i would like to know it this is indeed the better solution.
Please keep me updated on this!

[2022-04-19 08:13] nico-loeber commented on #24
Is it possible, that the ddev database was not running yet?

[2022-04-19 08:53] marcvangend commented on #23
(Un)fortunately (depending how you look at it :wink:) I was not able to reproduce the problem. Here's how I tried to reproduce it:
- Exit and start PhpStorm
- Exit PhpStorm, `ddev restart`, start PhpStorm
- Exit PhpStorm, `ddev poweroff`, `ddev start`, start PhpStorm

[2022-04-19 08:53] cmuench commented on #24
Problem is only related to the resolution of "localhost". I will try that in a Arch Linux.

[2022-04-19 08:56] cmuench commented on #24
@nico-loeber Containers are running. For me it's not an issue of the plugin, but maybe it's good to have a troubleshoot page. In my cast it's a standard Manjaro configuration.

[2022-04-19 08:58] cmuench commented on #24
@nico-loeber On my Arch Linux it works fine.
Fun fact... localhost does resolve to the same IPv6 ip address.

[2022-04-19 11:36] nico-loeber commented on #24
Okay, I would like to reduce documentation to a minmum, as the goal of this plugin is to simplyfy the use of ddev in your everyday work. So additional documentation should be avoided whenever possible.

I will concider using 127.0.0.1 instead of localhost.
Referencing your machine by localhost looked to me like the best solution as it is IPv4 and IPv6 compatible.

Still I'm not sure if this is not

[2022-04-19 14:17] cmuench commented on #24
Right. Will check that. On my Arch it works with localhost. On Manjaro it's not working. Need to compare both setups.

[2022-04-19 14:17] cmuench commented on #24
Would be better if it works with "localhost",  because it's also the information we see in "ddev describe".

[2022-04-19 16:03] nico-loeber commented on #23
Just had the same exception, just opening a non ddev project. This might be some type of race condition maybe... I will take a look at it. Thanks again for the infos!

[2022-04-19 18:10] marcvangend commented on #23
I got the error again, this time not when starting PhpStorm, but when waking my laptop from sleep mode. Maybe that tells you something.

[2022-04-20 08:44] calien666 opened #25 "Automatic PHP Configuration fails on recently set up ddev projects"
According to https://github.com/php-perfect/ddev-intellij-plugin/discussions/21#discussioncomment-2591031 I want to report this issue.

Main setup:
* Ubuntu 2021.10 (64 bit)
* PhpStorm PS-221.5080.224
* Java 11.0.14.1+1-b2043.25 amd64 (VM: OpenJDK 64-Bit Server VM by JetBrains s.r.o.)
* set up ddev project, configured as TYPO3 v10
* composer active
* secure installation active
  * Project runs in

[2022-04-20 08:46] calien666 opened #26 "Feature request: GUI ddev actions"
Referring to https://github.com/php-perfect/ddev-intellij-plugin/discussions/21#discussioncomment-2591500 I would prefer the Actions take place in the footer section, where the ddev status is shown. In this case it would be more effective to use these actions fast.

[2022-04-20 08:50] calien666 opened #27 "Feature request: GUI ddev own written actions"
Having own actions/commands, as in .ddev/commands/web even in the actions menu integrated would be a nice feature, as there are some actions, some will have default in his projects but more in use as the default start/stop/configure.
Thinking about, if there would be some ddev config added as comment, if this script is standalone or needs a terminal, to avoid using terminal scripts as actions.

[2022-04-20 08:52] calien666 opened #28 "Feature request: Integrate CLI for alternative containers"
As we are working with redis/solr it would be a nice feature, having these command lines easily accessible like the web container.
Sometimes it's useful to get the redis-cli accessible and so on. Is there a way implementing this, if command is set up?

[2022-04-20 17:03] nico-loeber commented on #25
Thanks for reporting this possible bug!
This looks to me like the remote execution or the docker plugin is not active.
Could you please send me a list of ALL your plugins and their enabled state?

In case this error triggers a crash report, there should be a "plugins.txt" you can attach or copy here. Thanks!

[2022-04-20 20:47] nico-loeber commented on #26
DDEV is concidered as a development tool, same as vagrant for example. These are located in the tools action group. I think they make sense where they are.

[2022-04-20 20:51] nico-loeber commented on #27
I think this is a already covered by #14.
We plan to provide run configurations for custom ddev commands in .ddev/commands/web and maybe also for other containers.
Sadly this feature is not in the scope for version 1.0, as we prioritized getting the current features stable.

[2022-04-20 20:58] nico-loeber commented on #28
Thanks for this feature request!
I understand your use case and I think it shouldn't be too hard to provide other terminals as well.
A requirement is of course that there is a shell (preferable bash) available in the container.

This feature will most likely not make it into version 1.0.

[2022-04-20 21:05] nico-loeber commented on #16
Closing this as the alpha testers had no more issues installing the plugin.

[2022-04-20 21:05] #16 closed

[2022-04-20 21:12] #27 closed

[2022-04-20 21:23] #26 closed

[2022-04-21 07:21] nico-loeber commented on #14
Just to add some more detail:
The plan is to check the DDEV binary for available commands. For each of these commands a run configuration is created. Maybe they can be listed in a tree view grouped by the container they are executed in. This would like like an behave like the Gradle or phing run tool window.
This feature is not planned for release 1.0 but will follow soon.

[2022-04-21 07:35] calien666 commented on #27
I'm sorry, I didn't see the other issue. But getting this in a future version would be great. Thanks for your great work

[2022-04-22 08:10] nico-loeber commented on #23
Just as a note:

 or change directories: no .ddev/config.yaml file was found in this directory or any parent\u001b[0m","time":"2022-04-22T10:08:28+02:00"}

[2022-04-22 17:50] nico-loeber commented on #23
@marcvangend, could you please tell me which default shell you are using?

I would guess its zsh with an enabled git plugin?

[2022-04-22 20:04] marcvangend commented on #23
@nico-loeber pretty good guess! I use Fish with a git plugin.

[2022-04-22 22:42] nico-loeber commented on #23
I was able to reproduce this issue. It's a timeout, since the ddev describe command took more than 5 seconds to load.

If you are using a shell with some plugin that does some haeavy work, like collecting git information this may affect performance of all executed commands.
The Problem is, that the common way to install DDEV is to use linuxbrew and to add the linux brew bin directory to your path

[2022-04-23 13:52] nico-loeber opened #30 "DDEV Run Toolbar: your 131072x1 screen size is bogus. expect trouble"
Running DDEV Commands in WSL procudes leading warning output "your 131072x1 screen size is bogus. expect trouble".
This is caused by a non tty Terminal, that has no columns and rows set.
Using a PtyCommandLine generally causes ddev to output control charachters that make its output not parseable.
This means that Command Lines when executed in WSL that cause output that is meant for disaply need to

[2022-04-23 13:59] nico-loeber commented on #23
As this issue is most probably caused by a 3rd party tool (shell with plugins) and we increased the timeout a bit, I will close this issue for now.
@marcvangend, please comment here if you have the same issue with a native bash or you have any idea on how to fix this issue better. Than I will reopen it.

[2022-04-23 14:04] nico-loeber commented on #25
@calien666, do you have any feedback on this?

[2022-04-23 15:29] marcvangend commented on #23
Thanks for the debugging. Fish and its [git prompt](https://fishshell.com/docs/current/cmds/fish_git_prompt.html) are essential for my day-to-day workflow, so I'm not going to disable either of them.

Disabling fish temporarily is possible of course, but that only makes sense if I know a sure-fire way to reproduce the error.

I don't know much about the internals of Fish and the git prompt, but I

[2022-04-23 15:55] nico-loeber commented on #23
Sadly I can't explain why the shell takes 5 seconds in to execute in this context.
@juulliian was able to reproduce this timeout with zsh on mac, also I was able to reproduce it with a zsh shell in WSL.
@SpraxDev supported by testing on Linux.
We did some tests with a default shell (bash, and windows default) on different OS and were not able to reproduce any timeout then.
I can fully understand y

[2022-04-23 16:08] marcvangend commented on #23
Thank you, good to know that the plugin will restore itself to a working state.

And please, there is no need to apologize! Open issues will always exist. The decision to spend your time on it, or ignore it, is all yours. I am entitled to nothing and very grateful that you are sharing your plugin with us.

[2022-04-23 17:54] calien666 commented on #25
I checked my installed oplugins and found out, my PhpDocker integrated plugin was disabled. Since enabling it the error didn't occur anymore

[2022-04-23 19:07] nico-loeber commented on #25
Okay, thanks for your feedback!
I will add a remark somewhere in the documentation on the additional requirements of the Docker based functionalities.

[2022-04-23 19:11] nico-loeber opened #31 "Add Plugin Dependencies to documentation"
The PHP Interpreter configration features is only available for IDEs with PHP support (PhpStorm and IntelliJ Ultimate).
As this feature is optional, the intellij platform does not validate it's sub-dependencies. It requires the remote execution and the docker plugin enabled. This should be added to the documentation.

See #25.

[2022-04-23 19:12] #25 closed

[2022-04-23 19:14] nico-loeber commented on #24
Hey @cmuench, are there any news on this?
Is there anything we can do in the plugin to solve this issue?
As you mentioned you would not support the idea to change the host to 127.0.0.1.

[2022-04-23 19:26] cmuench commented on #24
It works on my MacBook and Arch with localhost.
I guess it's some special network thing on Manjaro.
If I have free time, then I will try to install a fresh Manjaro in a VM to test.
IMHO we can close the issue and reopen it, if needed.

[2022-04-24 11:26] nico-loeber commented on #24
Okay thanks @cmuench. Keep me updated if I can do anything on my side to solve this issue.

[2022-04-24 11:29] nico-loeber opened #32 "/etc/hosts management"
Currently the hosts management is skipped when starting a project via the plugin, as this is a non interactive process and entering the sudo password is required for this step.
Another problem is, that using ddev inside wsl the host entry needs to be set in Windows and not the WSL environment.
The ddev integration plugin should have all required information and permissions to do the /etc/hosts man

[2022-04-24 11:32] nico-loeber commented on #30
Should be fixed by using a PTY Terminal. This results in output of some ANSI Color control characters on native windows, but this seems to be an issue of ddev itself.

[2022-04-24 11:32] #30 closed

[2022-04-24 22:06] nico-loeber commented on #25
![image](https://user-images.githubusercontent.com/18308418/164998665-db423d48-8916-42c2-8386-69f043099884.png)

This should help to identify this problem and easily fix it in the future.

[2022-04-25 08:19] calien666 commented on #25
That's fine. Glad, that I could help.

[2022-04-29 17:55] juulliian opened #33 "Exception when Docker not running"
I got the following error output when starting PhpStorm with a DDEV enabled project but having Docker not running.

de.php_perfect.intellij.ddev.cmd.CommandFailedException: Command 'ddev describe --json-output' returned non zero exit code {exitCode=1, timeout=false, cancelled=false, stdout=, stderr={"level":"fatal","msg":"\u001b[31mFailed to describe project(s): cannot connect to Docker endpoint\u

[2022-05-01 10:58] nico-loeber commented on #32
This issue might be solved or at least by changing the way DDEV is used inside WSL.
As I currently discuss this with @rfay, I will delay  the work on this issue.

[2022-05-07 14:42] SpraxDev commented on #24
I think I was able to reproduce this issue. PHPStorm is configured to `localhost` while docker is exposing the port on `127.0.0.1`. But pinging localhost resolves to the IPv6 interface.
Setting the data source to `127.0.0.1` instead of `localhost` resolves the issue

![ping localhost](https://user-images.githubusercontent.com/7331598/167259146-db899271-49aa-426f-8f66-9913b41c2e14.png)
![docker ps]

[2022-05-08 10:44] nico-loeber commented on #24
This seems to be an issue with ddev not supporting IPv6.
https://github.com/drud/ddev/issues/3817

@rfay suggests using 127.0.0.1 to bypass this issue, so I will change this in the data source configuration.

[2022-05-08 12:46] nico-loeber commented on #24
127.0.0.1 will be used from now on. I will probably publish an alpha3 version today.
Feedback is welcome!

[2022-05-08 12:46] #24 closed

[2022-05-08 14:52] nico-loeber commented on #32
Installing DDEV like like described in [this documentation](https://gist.github.com/nico-loeber/bbdae25d1bf6862c791d7ac6cf6fce58), solves the WSL part of this issue.
It is based on this concept: https://gist.github.com/nico-loeber/6d6e8261827c5e4efa4ccf5b5cd04140

Sadly this way will probably no become the officially supported one.

[2022-05-08 15:01] rfay commented on #32
Note that /etc/hosts is not a part of the picture when using `*.ddev.site`, only when using `additional_fqdns` or an alternate tld.  The hosts file does not have to be touched either on Windows or inside WSL2 in the "normal" workflow.

I would like to see dual-hosts-file management for the non-ddev.site situation though in
* https://github.com/drud/ddev/issues/3277

[2022-05-08 15:12] nico-loeber commented on #32
Created the issue https://github.com/drud/ddev/issues/3818 for this.

@rfay, sorry noticed your comment just after creating the issue. In case I normally don't need to touch the hosts file, there might be a misconfiguration or misunderstand on my side. Lets discuss this in the ddev issue.

[2022-05-08 16:13] nico-loeber commented on #32
As @rfay already stated there is no need for editing host files in common sitations.
The problem we encountered here was that the resolution of *.ddev.site was rejected by the router for sercurity reasons.
This behavior is explained in the DDEV documentation: https://ddev.readthedocs.io/en/latest/users/troubleshooting/#dns-rebinding-prohibited
There seems to be no need to resolve this issue on the

[2022-05-08 16:13] #32 closed

[2022-05-09 05:33] biati-digital opened #35 "Feature request: find the existing ddev path when editing a subdirectory"
We usually create local projects with the following structure: /projects/project-name/app/public...

We run ddev config on /projects/project-name using --docroot=app/public so all the ddev configuration resides in the project-name directory.

In the public folder there's a lot of files from our CMS, we do not modify them in any way so we only open in PHP Storm the required subdirectory for example

[2022-05-09 07:59] nico-loeber commented on #35
Thanks for your feedback!

Opening just a sub-part of your project is not recommended for various reasons. PHPStorm / WebStorm will generate settings a .idea directory in its root directory, so everytime you open another sub part of your project your IDE will generate a new Project with new settings and caches can not be reused.
At least if I understood your workflow right.
Please note that  you a

[2022-05-09 08:49] biati-digital commented on #35
Hi @nico-loeber

Thank's for your answer.

I'm afraid you did not get it right, we never open the project root with PHPStorm, it simply does not make sense for us as the root contains CMS files that will only make PHP Storm indexing slower and in general a mess as those files are always the same for multiple projects and we do not modify them so we do not need them in the editor. For autocompletit

[2022-05-09 09:12] njt1982 opened #36 "Getting NoClassDefFoundError / PhpRemoteSdkAdditionalData error"
Hi - I installed this via the alpha channel.

OSX 12.3.1 / PHPStorm 2022.1

[code]

Using ddev for Drupal projects.

I saw #25  - Looks like PHP Docker (along with the PHP remote sdk thing) wasn't enabled for me either, however I didn't get the "nice" error warning. Do you need to catch another class error?

[2022-05-09 16:05] nico-loeber commented on #36
Hi @njt1982,
Thanks for reporting this! It looks indeed like #25 and yes, I might need to be more defensive to avoid such an error, as I ineed only check for the docker plugin, as it has sub dependencies to the others.

But first, I want you to confirm the version of the plugin you have installed.

I got the the positive review reply from JetBrains at 11:13 AM and you have opend this issue at 11:1

[2022-05-09 16:33] nico-loeber commented on #35
Okay, thanks for clearing that up!

Configuring the working directory of ddev in the plugin settings would be possible but might have some unexpected consequences. Running ddev config will open the config.yml of ddev after doing so. If the configuration is out of your project this might become a problem. Also the compose file which is used for configuring the PHP Interpreter is found by the well k

[2022-05-09 17:04] nico-loeber opened #37 "Add Error Reporting"
If a fatal error occurs which is related to a plugin IntelliJ allows you as a plugin developer to let people send you the error report.
To use this feature we need to
- [X] implement a backend to receive error reports ~(Elastic Search?)~ (sentry.io)
- [X] implement a ErrorReportSubmitter at the extension point errorHandler

This seems to be a nice documentation on how to do it:
https://www.plugin-

[2022-05-09 17:08] nico-loeber opened #38 "Create Issue Workflow"
I would like to use issue templates to guide people better when creating issues.
In case of feature requests people should create a discussion instead of an issue (Can be converted to an issue).
Also new Issues should automatically be assigned to the Development board: https://github.com/php-perfect/ddev-intellij-plugin/projects/1

[2022-05-09 22:52] biati-digital commented on #35
My situation it's more related to a limited device, PHPStorm alone sometime uses 6 to 8GB of ram, i also have running at the same time Docker, Sketch, Chrome, Fork, NPM tasks, etc. I'm just trying to find a way to make PHPStorm use less resources and excluding all the CMS files do help making the editor more responsive.

I'll appreciate if you leave it open, i do believe this can be handled by the

[2022-05-10 00:33] rfay opened #39 ""Failed to parse output of wsl..." when debug mode is enabled"
I installed alpha3 on Windows with PhpStorm 2022.1 and opened a WSL2 project and things went bad before I could even do anything:

[code]

[2022-05-10 00:33] rfay commented on #39
I did use the PhpStorm facility to report this.

[2022-05-10 07:36] nico-loeber commented on #39
Thanks for reporting this. I will try to reproduce and fix this asap!

Yes, we need to provide a backend that can handle those error reports first https://github.com/php-perfect/ddev-intellij-plugin/issues/37.

[2022-05-10 07:42] nico-loeber commented on #39
After reading your error carefully I think I know at least what is causing the error:
ddev describe -j is expected to return ONE json object containing the information.
In your case it returns two objects.

first one:
[code]

2nd one
[code]

The first one is not expected and makes the output invald as IF there are multiple objects to parse they would need to be within [ ] to get parsed as a list.

[2022-05-10 08:25] nico-loeber commented on #39
Please note, we already had the same issue with the SegmentKey warning.
https://github.com/drud/ddev/pull/3574

[2022-05-10 12:47] rfay commented on #39
I know what it is, `export DDEV_DEBUG=true`. :)

[2022-05-10 12:50] rfay commented on #39
Maybe you should only use the first object?

[2022-05-10 13:00] nico-loeber commented on #39
The first one would be the debug message in this case.
Also there is no "first object" at all, because the output is no valid json. So there is no way to deserialize it without an error.

I still hope for a `--api` mode or something similar in ddev that disables logging output to the console and returns only the output of `app.Describe(false)` (desc return value) without any further rendering.
Thi

[2022-05-10 14:56] rfay commented on #39
Probably needs to be fixed to be valid json.

[2022-05-12 17:31] nico-loeber opened #40 "Automated DDEV Installation and Updates"
The IDE does already check if there is any update for ddev available.
I would expect a "update now" action in the notification about the new version and the missing ddev insallation notifications.
This should download and install the latest version of ddev.

The implementation should be quite easy for windows as the installer can be used.

For WSL using the Windows version would make things easy.

[2022-05-12 20:39] rfay commented on #39
Easy fix for this that fixes existing ddev is to just `unset DDEV_DEBUG` in the environment where you launch ddev. I'll return to it also with DDEV_DEBUG off.

[2022-05-12 22:11] nico-loeber commented on #39
Yes but the goal would be to make the plugin work with ddev in debug mode as well.
maybe you want to debug something related to the interoperation with the integration plugin or something like that.

As I already suggested a stable api would solve this but I have too many open topics right now to care about this right now.
I hope you can continue testing, without debug enabled.

[2022-05-12 22:22] rfay commented on #39
I will certainly continue again without debug enabled, but since DDEV_DEBUG is not even not even exposed in the user-oriented docs, and since it would (never?) be useful in the context of the plugin, I don't see any harm in the plugin unsetting the env var.

[2022-05-12 22:41] nico-loeber commented on #39
Yes you are right. For this specific case it would be enough to filter out this environment variable.
But first of all, this would add code to the plugin to avoid invalid output of ddev.
Any kind of additionally logged output to the console will interupt the communication between ddev and the plugin.
We already had this in https://github.com/drud/ddev/pull/3574.

I am quite sure there might be sev

[2022-05-12 22:58] rfay commented on #39
You are ambitious and amazing.

[2022-05-13 21:41] nico-loeber opened #41 "Test"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Are you sure that this bug is related to this DDEV Integration Plugin?

- [ ] I am sure

### Describe the bug

Test Issue Workflow

### Steps To Reproduce

_No response_

### Additional context

_No response_

[2022-05-13 21:47] nico-loeber opened #42 "Test"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Are you sure that this bug is related to this DDEV Integration Plugin?

- [ ] I am sure

### Describe the bug

TEst

### Steps To Reproduce

_No response_

### Additional context

_No response_

[2022-05-13 23:10] #38 closed

[2022-05-13 23:10] nico-loeber commented on #38
Issue Templates as well as automations for new issues and pull requests added.

[2022-05-14 14:25] nico-loeber commented on #36
Closing this a I can not reproduce this since alpha3 and I don't get any feedback from @njt1982.

[2022-05-14 14:32] nico-loeber opened #48 "Check Wording"
Wording of the DDEV Integration Plugins should be checked by a native english speaker.

The capitalization of Intellij must be respected.
https://jetbrains.design/intellij/text/capitalization/

In this file you can find any text that can appear in the user interface: https://github.com/php-perfect/ddev-intellij-plugin/blob/main/src/main/resources/messages/DdevIntegrationBundle.properties

[2022-05-14 15:49] rfay commented on #48
I will report any English language problems I find in this issue. Or do a PR.

[2022-05-14 21:00] rfay opened #49 "Driver class 'org.mariadb.jdbc.Driver' not found Driver files are not downloaded"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Are you sure that this bug is related to this DDEV Integration Plugin?

- [X] I am sure

### Describe the bug

It won't surprise me if this isn't actually a bug, but it looks a little scary. I started up the plugin and saw this warning:

![image](https://user-images.githubusercontent.com/112444/168447927-b87d8

[2022-05-14 21:15] nico-loeber commented on #49
Thanks for reporting this @rfay!

This is indeed the expected behavior, at least the first warning. "DDEV" is just the name of the data source and PHPStorm will inform you, that you need to download those driver files. The plugin does only configure the data source, everything else is handled by intellij itself.
Indeed the 2nd message could be avoided. The plugin will automatically trigger a schem

[2022-05-14 21:16] nico-loeber commented on #49
I would like to note that this will only occur if you did never connect to any mariadb database before.

[2022-05-14 21:20] nico-loeber commented on #48
Thank you very much for taking care of this, @rfay!
If you think that things can be explained more precisely, you are welcome to reword the texts.

[2022-05-14 21:31] rfay opened #50 "Tools -> DDEV -> Configure is greyed out on existing project (ddev config --auto --php-version=5.6????)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Are you sure that this bug is related to this DDEV Integration Plugin?

- [X] I am sure

### Describe the bug

I kept trying to figure out how to use Tools -> DDEV -> Configure to reconfigure a project (at least that's what I thought I wanted to do) but it was always greyed out.

Now I see that "Configure" is

[2022-05-14 21:57] njt1982 commented on #36
Sorry I didn’t see a reply.

it is working for me now, however I think the issue was a missing/not enabled plugin.

Do you not get the same error if you disable the remote PHP plugin?

(I would have thought if it was a required dependency it should have automatically been enabled?)

[2022-05-14 21:59] rfay commented on #48
* TYPO sate->state
* "DDEV enabled" might be better as  "DDEV-enabled"

![image](https://user-images.githubusercontent.com/112444/168449375-cd52e5a6-6f1c-49d4-82b3-aa96b6a8ca66.png)

[2022-05-14 22:28] rfay commented on #48
My suggestions in
* https://github.com/php-perfect/ddev-intellij-plugin/pull/51

[2022-05-14 22:44] rfay opened #52 "Running two projects and using plugin causes lots of failures"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Are you sure that this bug is related to this DDEV Integration Plugin?

- [X] I am sure

### Describe the bug

* Create two DDEV projects
* If you already have them open in PhpStorm, close them.
* Open them in PhpStorm
* Take actions against one, then switch to the other and do actions.

See exceptions like
*

[2022-05-14 22:53] nico-loeber commented on #36
First of all: Sorry, I disabled the wrong plugin that also had "Remote" in name, stupid mistake on my side. I can now reproduce the error and will add a check for that as well of course!

The problem is, that these plugins are optional dependencies, because otherwise you could not use the plugin for WebStorm which does not offer PHP Support and so there won't be a remote PHP plugin.
IF PHP Support

[2022-05-14 23:05] nico-loeber commented on #50
The `--php-version` parameter is based on the language level configured in your IDE.
Your IDE will determine your language level automatically based on the constraints in your composer.json or by the language features used in your existing project.
As your IDE does base it's decission on parsing the composer.json or all of your project files it should have know best which php version to use.
In ca

[2022-05-14 23:12] rfay commented on #50
FYI you don't need --auto with --php-version. Just `ddev config --php-version` will do the same thing. `--auto` is just there to prevent the default prompting behavior when people don't want it, and they usually don't need it.

[2022-05-14 23:17] rfay commented on #50
I confirm that it's using PhpStorm's PHP version, and that PhpStorm defaults to the (terrible) 5.6 value. I can see that using PhpStorm's version is a reasonable choice.

[2022-05-15 12:40] nico-loeber commented on #52
Thanks for reporting this!
I think you did open the same ddev project twice in PHPStorm?
The DDEV project name is part of the key that is used for the registration of the action to avoid collisions like the one you just reported.
I did remove registering the actions in ActionManager as the only benefit is to access them via the quicksearch.
I don't think people would do this anyway and as I alread

[2022-05-15 12:40] #52 closed

[2022-05-15 12:43] nico-loeber commented on #50
Great!
I did also think about a feature to keep the language level of phpstorm and the `.ddev/config.yml` in sync after the initial setup.
But this feature is part of an expansion stage.
Closing this for now.

[2022-05-15 12:43] #50 closed

[2022-05-15 12:46] rfay commented on #50
Hope you caught the note that `--auto` is not even useful when used with another config option like `--php-version`.

[2022-05-15 12:46] nico-loeber commented on #50
`--php-version` isn't always present, as you can install the plugin in IDEs without PHP Support. It think in this case `--auto` was neccessary to run config in a non interactive way with auto configuration of the web root.

[2022-05-15 12:46] rfay commented on #52
I did not have the same project open in two windows if that's what you're asking. I had two separate projects.

[2022-05-16 14:07] marcvangend commented on #23
The problem still occurs. There seems to be a bit more debug info on the first line now:

[code]

Also, I noticed there are two little arrows in the top left corner of the PhpStorm error dialog. I didn't notice those before, but it seems like this error has repeated more than 100 times since starting up this morning. After 100 errors, monitoring stopped.

![Screenshot 2022-05-16 at 16 06 08](https

[2022-05-16 14:25] rfay commented on #23
The error in https://github.com/php-perfect/ddev-intellij-plugin/issues/23#issuecomment-1127722074 looks like docker isn't running, or `docker context` is set wrong. Please use ddev manually in the shell to see if you can use it.

The output is absolutely not the same or even related to the previous problem:

`de.php_perfect.intellij.ddev.cmd.CommandFailedException: Command 'ddev describe --json-o

[2022-05-16 15:25] marcvangend commented on #23
Hmm, yeah, maybe the explanation really is that simple. I should try it out tomorrow. (Now I'm wondering why that didn't occur to me before. :-D)

That said, it should be possible to run phpstorm without docker running, and not get any errors, right?

[2022-05-16 16:42] nico-loeber commented on #23
`ddev describe` is triggert every 10 seconds to keep the plugin in sync if you run `ddev stop` manually on your command line.
I think that's why the error is logged that often.
This can be deactivated in the plugin settings in `File | Settings | Tools | DDEV Integration`.

Yes, we do already have an issue to avoid an exception when docker is not running:
https://github.com/php-perfect/ddev-intelli

[2022-05-18 20:36] #36 closed

[2022-05-18 20:57] nico-loeber commented on #31
Added required plugins for automatic remote interpreter configuration to the feature documentation as they are only required for this feature.

https://github.com/php-perfect/ddev-intellij-plugin/wiki/Features#prerequisites

Other features like the terminal integration does require the terminal module of the IDE but won't trigger any error or warning if it is disabled.

[2022-05-18 20:57] #31 closed

[2022-05-18 22:06] nico-loeber commented on #22
@juulliian has added basic feature documentation, which can be found here: https://github.com/php-perfect/ddev-intellij-plugin/wiki/Features
The documentation will be expanded over time. I will close this issue.

[2022-05-18 22:06] #22 closed

[2022-05-19 08:21] jonaseberle opened #53 "Tools -> DDEV -> Share does not output the `ngrok` status"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Are you sure that this bug is related to this DDEV Integration Plugin?

- [X] I am sure

### Describe the bug

Running `ddev share` outputs
[code]
It includes the output of the dynamic `ngrok` domain (if you are on the free plan) which is important information to use it.

Running it with the plugin (via Tools

[2022-05-19 21:25] nico-loeber opened #55 "Provide Path Mappings for debugging"
### Discussed in https://github.com/php-perfect/ddev-intellij-plugin/discussions/54

<div type='discussions-op-text'>

<sup>Originally posted by **nico-loeber** May 19, 2022</sup>
To allow zero configuration debugging from a browser a path mapping is required.
It looks like a deployment configuration is required to do so. A "local or mounted folder" deployment with a path mapping project directory

[2022-05-19 21:31] nico-loeber commented on #53
Thank you for reporting this @jonaseberle.
We already know that the share feature isn't implemented well yet.
There is already an issue about a better integration here: https://github.com/php-perfect/ddev-intellij-plugin/issues/8

But I wasn't aware of the bug you describe. It might have something to do with a recent refactoring of the terminal actions (using a PTY) I did. I will check what I can

[2022-05-22 10:52] jonaseberle opened #56 "Failed to parse output of `ddev version --json-output`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Are you sure that this bug is related to this DDEV Integration Plugin?

- [ ] I am sure

### Describe the bug

After changing ddev-versions, PhpStorm reported an error:

[code]

This seems to be a problem with `ddev --json-output` which includes the "chore" work (in this case updating the internal docker-compo

[2022-05-22 13:49] nico-loeber commented on #56
I just stumbled across this myself and was going to create an issue for it when I saw yours!
Thanks for reporting!

As you may have seen, there were/are several problems related to unexpected output of `ddev describe --j`. I will try to find a more reliable solution in consultation with @rfay.

[code]

Related:
https://github.com/php-perfect/ddev-intellij-plugin/issues/39
https://github.com/drud/d

[2022-05-22 14:41] nico-loeber commented on #55
I've added a deployment configuration containing a path mapping for the mounted ddev container.
Sadly PHPStorm refuses to use this mapping. Hope to get some feedback on this issue: https://youtrack.jetbrains.com/issue/WI-55140

[2022-05-22 17:01] rfay commented on #56
DDEV fixes this in
* https://github.com/drud/ddev/pull/3860, but it's important for the plugin to be a bit more resilient to externally generated input, for many reasons including security and robustness.

[2022-05-23 10:45] jonaseberle opened #58 "ID 'DdevIntegration.Services.ddev-config-test-mailhog' is already taken by action 'Open Mailhog (Open ddev-config-test-mailhog service in your browser)'"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Are you sure that this bug is related to this DDEV Integration Plugin?

- [X] I am sure

### Describe the bug

When opening several DDEV-projects (can happen with 2; always reproducible with 3), an error is shown:

[code]

### Steps to reproduce

1. Open a DDEV project
2. Open another DDEV project (new window)

[2022-05-23 11:00] nico-loeber commented on #58
Hi @jonaseberle,
this should already be fixed in the master branch. It's the same issue as https://github.com/php-perfect/ddev-intellij-plugin/issues/52.

If you are brave you can test directly on the master branch by downloading the latest build from the pipeline:
https://github.com/php-perfect/ddev-intellij-plugin/actions/runs/2366779281 (The zip to install the plugin is listed in the artifacts)

[2022-05-26 11:50] nico-loeber commented on #53
Unfortunately, I can't reproduce your issue.
Yes, repositioning of the cursor does not work properly, as content updates are appended and not replaced, but there is no content missing for me.
I have tested this with Windows 11 and in WSL (Ubuntu 20.04).

@SpraxDev could you maybe test this on Debian?

As I mentioned before, I plan to optimize the functionality of ddev share, e.g. by providing the

[2022-05-26 11:58] nico-loeber commented on #23
@marcvangend, do you have any update on this?

[2022-05-26 13:10] marcvangend commented on #23
Not really, I'm still getting the occasional error message. I do not always have time to dive in. Maybe it is worth mentioning that I do not auto-start Docker Desktop when I boot MacOS, so that might explain why I often have PhpStorm running before Docker and DDEV have started. But as a user of a plugin, I would expect the plugin to handle such a situation gracefully.

[2022-05-26 14:21] nico-loeber commented on #23
Yes, this is an understandable demand.

Thanks for your feedback!

[2022-05-27 00:29] SpraxDev commented on #37
I've implemented an ErrorReporter using the Sentry.io SDK and tested it but the change to the GitHub Action is untested (but *should* be fine).

@nico-loeber, you might want to additionally overwrite `SentryErrorReporter#getPrivacyNoticeText` and change the current return value of `SentryErrorReporter#getReportActionText`.
Oh and probably not leave my call to `Messages#showInfoMessage` it's kinda

[2022-05-27 13:33] SpraxDev opened #62 "GitHub Actions: Re-enable jacoco coverage report"
When updating `org.jetbrains.intellij` in 8145a8605a969753540862b8fc7f6a27fd10923d (#59) the jacoco report generation started failing with the errors

This doesn't feel like an error on our side, so the commit ea6955a6bda37bf51e080b3bc568ef0b0fe59623 in (#59) should be reverted as soon as an update is available that fixes the issue.

- - -

Additionally the SonarCloud workflow should be re-enabled

[2022-05-27 13:58] #39 closed

[2022-05-27 13:58] #56 closed

[2022-05-27 14:03] nico-loeber commented on #35
I have decided that this is out of the scope of the plugin for now, sorry.

If anyone else has a similar requirement, please comment here.

[2022-05-27 14:03] #35 closed

[2022-05-27 14:52] SpraxDev commented on #53
I'm having the exact same issue where the IDE Terminal does not show anything while the command in the terminal does as expected:
![grafik](https://user-images.githubusercontent.com/7331598/170723469-2c267ca0-f6c6-4341-820f-8826d2a9f6e8.png)

App/System info:
![grafik](https://user-images.githubusercontent.com/7331598/170724155-9e409c79-20a2-4c74-934b-9981409a1361.png)

[2022-05-27 15:23] jonaseberle commented on #53
I just realized that it might not have anything to do with the Jetbrains internal terminal:

When disabling the plugin "Terminal (bundled)" the Tools -> DDEV -> share command still works.

And when running `ddev share` in the internal command it looks fine:

![image](https://user-images.githubusercontent.com/1678001/170728997-d817c2a2-bdc9-422c-a91c-0eede96deb7d.png)

It seems to be more about thi

[2022-05-28 13:29] nico-loeber commented on #53
This is the configuration of the process, using a pseudo terminal, which is required for many terminal features. At least on Windows and WSL this setup works quite well.

As I can not reproduce this in my environments, so I might need your help @SpraxDev.
Maybe disabling the PTY on operating systems other than Windows is all that is needed?

Thank you both for your detailed feedback, @jonaseberle,

[2022-06-01 23:06] nico-loeber commented on #5
Added interactive tutorials explaining the status bar and the ddev terminal. They will popup on first uage and refer to the feature documentation for more detail.

[2022-06-01 23:06] #5 closed

[2022-06-03 18:21] #37 closed

[2022-06-03 19:58] nico-loeber commented on #53
Hi @jonaseberle,
@SpraxDev and I have been doing a debugging session for a couple of hours now and all we could find out is that the ngrok binary does not produce any output in this context. This is only the case on Linux operating systems. On Windows and Ubuntu inside WSL, it works as expected (More or less, repositioning of the cursor does not work well).
The ngrok documentation mentions that th

[2022-06-03 20:20] rfay commented on #53
One thing to be aware of, and I'm sure you already are, is that ngrok has changed quite a lot in the last couple of months, with a new version and a new config file. Just putting that out there.

[2022-06-03 21:08] nico-loeber commented on #53
Thank you for the hint!
The behavior on the standard PHPStorm terminal and in the run terminal is different. As this happens on the same system with the same configuration this has to be something related to environment variables or the terminal type, I think.
Due to the fact there is no source code for the ngrok binary it is hard to find out what might cause this change in behavior as both termin

[2022-06-03 22:59] #23 closed

[2022-06-03 22:59] #33 closed

[2022-06-03 23:02] nico-loeber commented on #48
Version 1.0 is now feature complete, probably...
This is a good time to finalize the wording of the messages: https://github.com/php-perfect/ddev-intellij-plugin/blob/main/src/main/resources/messages/DdevIntegrationBundle.properties
@rfay could you please take another look?

[2022-06-03 23:20] rfay commented on #48
I read through it and it looks ok to me.

[2022-06-04 08:44] nico-loeber commented on #48
Thank you!

[2022-06-04 08:44] #48 closed

[2022-06-05 14:38] nico-loeber commented on #62
I guess the issue might be on our side, since it did no exists before merging the dependency updates.
The test report package was not updated. Maybe this might also have something to do with memory limits or other JVM configuration?

[2022-06-16 19:12] #55 closed

[2022-06-16 23:22] nico-loeber commented on #49
As already explained, the warning about the missing driver files is the intended behavior as you have to manually confirm to download external files (The driver files). The error in your screenshot does only appear in the notification list and should not pop up as a notification. It is triggert internally when trying to open the database connection if there are no driver files available.
If the pl

[2022-06-16 23:22] #49 closed

[2022-06-16 23:24] nico-loeber commented on #53
As this bug is a bit more complicated than expected and we plan to overhaul the ngrok integration in 1.1 anyway, I will delay this for the 1.1 release. Sorry.

[2022-06-28 19:53] rfay opened #79 "Not found in marketplace, or not compatible"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Are you sure that this bug is related to this DDEV Integration Plugin?

- [X] I am sure

### Enter your error report ID (If available)

_No response_

### Describe the bug

I just went to test this again and again found it unavailable in marketplace. On https://plugins.jetbrains.com/plugin/18813-ddev-integrati

[2022-06-28 21:03] nico-loeber commented on #79
I also noticed this. I'm quite sure the problem is that there is no compatible stable version yet. I think this is fixed when the stable version is published, so in a few days.

[2022-06-28 21:11] rfay commented on #79
Maybe the README can be updated with a technique until then?

[2022-06-28 22:06] nico-loeber opened #80 "DDEV Commands Fail when the project is opend in PHPStorm"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Are you sure that this bug is related to this DDEV Integration Plugin?

- [ ] I am sure

### Enter your error report ID (If available)

_No response_

### Describe the bug

On MacOS it may happen that DDEV commands like `ddev npx install` fail with file system errors (File not found, stat failed, ...) when the

[2022-06-28 22:07] nico-loeber commented on #80
This is caused by an issue if 2 ddev commands run at the same time. You can avoid this issue by turning of "Watch DDEV state in background" in `File | Settings | Tools | DDEV Integration`.

Also there is already a fix available for DDEV that will be released soon.
- https://github.com/drud/ddev/pull/3946

[2022-06-30 21:46] nico-loeber commented on #79
It is available now. :)

[2022-06-30 21:46] #79 closed

[2022-07-04 17:58] graham73may opened #83 "DDEV integration entered unknown state by timeout"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Are you sure that this bug is related to this DDEV Integration Plugin?

- [X] I am sure

### Enter your error report ID (If available)

_No response_

### Describe the bug

This notification triggers a _**lot**_.

Example from just doing general debug work on a project, loading a drupal site in the browser etc

[2022-07-04 19:12] nico-loeber commented on #83
This notification appears if the `ddev describe -j` fails in any way - timeout, non zero exit code, invalid output.
Normally this happens together with an internal error. There should be a blinking red exclamation mark in the lower right corner.
Please submit the error report and provide the generated report id.
Otherwise please provide information about your OS and Setup, please also include the

[2022-07-04 19:32] rfay commented on #83
Also include the ddev version, `ddev --version`.

[2022-07-04 21:24] graham73may commented on #83
@nico-loeber

No little red exclamation mark since my message on Discord, but plenty of these unknown state notifications. Still haven't got the full error to send you the ID of, I have been pressing the report button so I'm not sure where those go? Is there any other way to track them down?

- Mac OS Monterey 12.4
- ddev version v1.19.3
- Docker desktop 4.9.1 (81317)
- default shell is ZSH, can u

[2022-07-04 22:18] rfay commented on #83
Have you restarted docker? What docker provider are you using?

[2022-07-04 22:19] rfay commented on #83
Sorry, I see it's docker desktop. do try restarting it.

[2022-07-05 07:25] nico-loeber commented on #83
Hey @graham73may,

Thanks for adding these information!

Please install the stable 1.0.0 release of the plugin.

de.php_perfect.intellij.ddev.cmd.CommandFailedException: Command timed out after 5 seconds: /usr/local/bin/ddev describe --json-output

Executing `ddev describe` takes more than 5 seconds, this causes the error for you.
Could you please try to switch to bash as default shell just to che

[2022-07-05 08:45] graham73may commented on #80
I was going to open a new bug, but I think maybe this one is related.

Adding a bug report ID: e720eb89f0f64c4d93a151f036fe540e

[2022-07-05 08:49] graham73may commented on #83
Looking in PHPStorm - plugin looks like it's updated since yesterday.

Disabled ZSH, will see how the plugin behaves today and report back.

[2022-07-05 09:09] graham73may commented on #83
Still occurring with ZSH disabled. Shell is showing as `/bin/bash`.

![image](https://user-images.githubusercontent.com/6642498/177293204-20d408ff-7f4d-420b-84ba-1e15bd65d05e.png)

[2022-07-05 09:21] nico-loeber commented on #80
Command timed out after 5 seconds: /usr/local/bin/ddev describe --json-output

I don't think a timeout can be related to this issue, as this issue is based on missing files in the file system when a ddev command is executed.

[2022-07-05 09:26] nico-loeber commented on #83
Does this error occur right from the start? Does it allways timeout, or only sometimes? You can easily check by clicking "Sync DDEV State". This will retrigger the `ddev describe --json-output` command and you should see the error again after 5 seconds, or if it did work nothing.
Please also try to execute `time ddev describe --json-output` multiple times in your project root and provide an averag

[2022-07-05 09:35] graham73may commented on #83
It's not just at project start, it's going off constantly.

I never really need to click the Sync DDEV State button as it eventually does connect, this is what my notifications look like in the project:
![image](https://user-images.githubusercontent.com/6642498/177298079-a11350db-6d00-4919-975f-c9b690c6413b.png)

Timings:
[code]

[2022-07-07 13:11] graham73may commented on #83
Well `ddev list` took _**ages**_ to execute.

Can I send you a DM on discord with the output of that list? It contains a lot of client URLs as I'm sure you can imagine!

---

Trying `ddev debug test`... Wow didn't realise I'm nearly maxing out my docker's allowed storage.

Output below

[code]

[2022-07-07 13:12] graham73may commented on #83
@rfay Sure thing, very happy to! Let me know if anything stands out in the debug info, if not I'll contact you on Discord :)

[2022-07-07 13:42] rfay commented on #83
Discord is fine, a gist is the best place for large blocks of text, thanks.

[2022-07-07 13:46] rfay commented on #83
You will want to increase the disk allocated in Docker Desktop and probably clean up also. `ddev delete images`, or probably just kill everything with `docker rm -f $(docker ps -aq) && docker rmi -f $(docker images -q)` (does no harm, just kills images). And... you don't have a bunch of projects running at the same time do you?

[2022-07-07 14:28] graham73may commented on #83
Both commands executed! I've sent you a Discord with the output of `ddev list`.

RE number of projects running, no I only have 2 or 3 ddev sites running at once. I'll have a full project cull to bring the storage down and see how that goes!

[2022-07-07 18:53] graham73may commented on #83
Thanks for the help debugging rfay! Some interesting results... swapped from Docker Desktop to Colima.

Colima responsiveness:

[code]

After that, I've factory reset docker desktop.

[code]

I'll be moving over to Colima now.... Which will probably resolve this issue!

[2022-07-08 20:18] nico-loeber commented on #83
Great that you found a solution @graham73may. Thanks for your support @rfay!

[2022-07-11 13:01] graham73may commented on #83
Even with Colima I'm still occasionally getting the error.

The cause seems to be PHPStorm indexing causing such a performance hit.

Is it possible to pause the sync if Indexing is running?

![image](https://user-images.githubusercontent.com/6642498/178270135-35267c1b-a9b2-4ef3-ae6c-3bf2dcb64872.png)

[2022-07-11 16:46] nico-loeber commented on #83
Sad to hear...
The watch task runs in a seperate thread. It doesn't know if PHPStorm is indexing or not and I don't think pausing it will help much.
I can just offer to icrease the timeout slightly to 8 seconds in the next release.

I would still love to understand why the ddev command is that slow for you, @graham73may . Could maybe give some information about your hardware, CPU, HDD/SSD, Memory?

[2022-07-11 16:48] nico-loeber commented on #62
The code coverage issue should be fixed now by
* https://github.com/php-perfect/ddev-intellij-plugin/pull/84

[2022-07-11 17:53] graham73may commented on #83
System:

![image](https://user-images.githubusercontent.com/6642498/178326148-ac34dcdb-abdb-491f-ae65-2943c2ca7f1b.png)

Hard drive:

![image](https://user-images.githubusercontent.com/6642498/178326619-167ec040-87b1-40b9-9c56-2814b963db57.png)

`time ddev list` is taking around 0.9-1.0 seconds whenever I run it now, but if PHPStorm is doing a lenghty index then things seem slow down. After the sw

[2022-07-11 18:00] rfay commented on #83
Normally PhpStorm doesn't have to index all the time. What's up with it doing that all the time @graham73may ? I normally only see a big index when I open a project for the first time.

[2022-07-11 18:09] graham73may commented on #83
It's not triggering all the time per project when I'm actively working on stuff. I work at an agency so it's not uncommon for me to have to open up a project after X weeks/months. Phpstorm seems to have a time limit on how long it trusts the index and it'll start to do a big reindex when I open a second instance (of a project I have previously opened).

Or a significant branch change will do the s

[2022-07-11 18:27] rfay commented on #83
Definitely those things will cause an index build... but wow, do you have a slow disk or something? It should be a few seconds, not enough to affect your normal work. And it really shouldn't impact the extension's use of ddev, etc.

Remind me how much memory you have on your machine, and (you're using colima now right?) please tell me how much of that you have allocated to colima. And you're not l

[2022-07-12 13:21] mikesnoeren opened #85 "Can't find "DDEV Integration" in PhpStorm."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Are you sure that this bug is related to this DDEV Integration Plugin?

- [X] I am sure

### Enter your error report ID (If available)

_No response_

### Describe the bug

Can't find the plugin on the PhpStorm plugin marketplace.
Running on Build #PS-221.5591.58, built on May 12, 2022

![image](https://user-i

[2022-07-12 21:23] nico-loeber commented on #85
Hello @mikesnoeren,

thanks for reporting this!

Your version seems a bit too old for the plugin to be installed.
The minimum Version for the current stable release is 221.5787.
As soon as you update your IDE you should see the plugin in the marketplace.

Please give feedback if everything works as expected after updating, thanks!

[2022-07-13 06:07] mikesnoeren commented on #85
Hi @nico-loeber,

I have updated my IDE to the latest version which solved my issue.
Reason I wasn't up-to-date was because for some reason my IDE decided to not give me update notifications anymore..

Thanks for your help, great plugin!

[2022-07-13 06:07] #85 closed

[2022-07-13 12:01] graham73may commented on #83
I am fine with your suggested fix Randy 😝.

It's a 2020 upgraded spec Macbook Pro! It shouldn't be slow!

Yes using Colima now, it's allocated 6GB memory.
Machine has 32GB or memory.
Hard drive is at about 50% full. (about 250GB free space)

It is so much more usable than when I was using Docker Desktop, as far as I'm concerned this issue is closed 😅 .

[2022-07-24 12:39] SpraxDev commented on #62
Looks like there are still some issues. Could not get it to not detect 0% coverage and found a ticket about that.

I've subscribed to it and maybe they find something that needs to be configured or fixed in the intellij-plugin.

JetBrains/gradle-intellij-plugin#1065

[2022-07-29 17:38] nico-loeber commented on #80
Closing this issue as it was fixed in DDEV some time ago.

[2022-07-29 17:38] #80 closed

[2022-08-05 00:16] rfay opened #92 "Failure to set up phpunit ("Docker account not found")"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Are you sure that this bug is related to this DDEV Integration Plugin?

- [ ] I am sure

### Enter your error report ID (If available)

_No response_

### Describe the bug

I created a new project and opened it and wanted to set up phpunit.

1. Removed project .idea for a fresh start, `rm -r .idea`
2. Project

[2022-08-05 07:00] nico-loeber commented on #92
Thanks for reporting this @rfay!
I will take a look at it asap. Do you have an idea why php8.1 is no longer working?
I would expect it to be still in PATH. The docker account error seems realy strange...

[2022-08-05 13:36] rfay commented on #92
There are two things here.

1. The big deal is that there's no need to use "php8.1" any more, or "php5.6" or anything, because they fixed the bug in 2022.2 that used `docker-compose run` to evaluate this instead of `docker-compose exec`.
2. php8.1 is in fact in the PATH, and nothing has changed there.  But the plugin doesn't need to be doing that any more, and it's unnecessary complexity.

[2022-08-05 14:08] rfay commented on #92
Just to make sure the link is here, the fixed PhpStorm issue is https://youtrack.jetbrains.com/issue/WI-62463 and it's fixed after a year, yay!

[2022-08-05 15:40] nico-loeber commented on #92
Okay, I did some testing and found out that:

The "Docker account not found" error occured for me when opening an existing project created in PHPStorm 2021 in 2022.
The select option `Docker Compose > Server` was empty in this case. Manualy selecting "Docker" solved the issue.
Deleting the Interpreter does also solve the issue, as it is regenerated correctly by the plugin.
This might be an issue w

[2022-08-05 15:58] nico-loeber commented on #92
Is the environment variable `ddev-{projectName}` still needed?

I would love to remove it.
https://github.com/php-perfect/ddev-intellij-plugin/blob/9057376362610521d4f545160ce1840bb48541f9/src/main/java/de/php_perfect/intellij/ddev/php/PhpInterpreterProviderImpl.java#L102

I would schedule these changes for 1.1 as they should have no impact on the user and are only cosmetic / redundant.

[2022-08-05 16:05] #62 closed

[2022-08-05 18:03] rfay commented on #92
This is just about https://docs.docker.com/compose/compose-file/#name-top-level-element - Probably for its whole history DDEV has relied on the env var, and not sure if the `name` element has always been there, but it would be better. I'd be fine with a PR to put `name` in app_compose_template.yaml and stop using the COMPOSE_PROJECT_NAME. It's about time.

[2022-08-05 18:05] rfay commented on #92
Is there a correct way to completely wipe out anything PhpStorm might be doing? I did delete the project .idea, but I saw the "server" was still in there. Seemed to be just a name, but I'd rather have killed it.

[2022-08-17 14:58] rfay commented on #92
A followup: I reset to factory defaults in PhpStorm 2022.2 using File->Manage IDE Settings->Restore default settings and started over again.

1. PHP Language Level defaults to 7.0, which I wouldn't expect.
2. CLI interpreter is correctly set to DDEV but
    * In DDEV CLI interpreter the "Server" is blank
    * PHP Executable is set to php8.1, but it doesn't work, as described above.
    * Configur

[2022-08-17 15:01] rfay opened #95 "Use ~/.ddev/bin/docker-compose as the docker-compose tool in Tools->Docker"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Are you sure that this bug is related to this DDEV Integration Plugin?

- [X] I am sure

### Enter your error report ID (If available)

_No response_

### Describe the bug

Currently the plugin does not apparently change the path to the docker-compose binary. DDEV uses ~/.ddev/bin/docker-compose and does not o

[2022-08-17 23:58] rfay commented on #83
I encountered this in report 1c3d1ef3dcba40559612ee71c2fd1bde and it seems to be a result of slow internet detection.

I got this when doing `ddev describe` manually:

`Internet connection not detected, DNS may not work, see https://ddev.readthedocs.io/en/stable/users/basics/faq/ for info.
IsInternetActive DEBUG: err=lookup kvzhzvxmfu.ddev.site: no such host ctx.Err()=<nil> addrs=[] IsInternetacti

[2022-08-18 20:23] nico-loeber commented on #83
Thanks for providing the report id @rfay!

How did you get this debug output? If I see this right there is a timeout of 3 seconds. Are you sure this can cause the 8 seconds timeout in the plugin to happen?

[2022-08-18 23:28] rfay commented on #83
Sure seemed like it was sent. But at least we have a potential culprit now. And DDEV can be improved to prevent this type of failure.

[2022-08-19 03:06] rfay commented on #83
Note that I sent lots of reports @nico-loeber . Most were obvious reasons. If you didn't get any then something is probably wrong with the reporting system.

[2022-08-19 17:37] rfay opened #97 "Stop setting COMPOSE_PROJECT_NAME"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Are you sure that this bug is related to this DDEV Integration Plugin?

- [X] I am sure

### Enter your error report ID (If available)

_No response_

### Describe the bug

COMPOSE_PROJECT_NAME is not required to be set in DDEV v1.21.1+, so
1. Stop setting it
2. Make dependency on DDEV v1.21.1+

Note that ther

[2022-08-22 00:17] rfay commented on #83
* https://github.com/drud/ddev/pull/4134
went in, and may help with this. We can hope.

[2022-08-23 22:44] mstrelan commented on #95
I would be cautious about changing the _globally_ configured docker compose executable. If this configuration is _project specific_ and the project uses ddev then this would be perfect.

[2022-08-23 23:11] rfay commented on #95
IMO it's worth the minor risk, but it's a valid point @mstrelan

[2022-08-26 17:28] nico-loeber commented on #95
Thanks for this proposal @rfay and sorry for my late reply.
As @mstrelan already said this is a global setting. Changing it automatically would affect all your projects wihtout your knowledge. You would also need to enable the "Use Compose V2" setting as ddev is using v2 format. This would make any non ddev compose v1 projects unusable.

Also the situation is a bit more complex if you are using WS

[2022-08-26 17:28] #95 closed

[2022-08-26 17:32] nico-loeber commented on #97
Scheduled as an optimization for v1.1 as setting it has no negative impact, so it's not urgent.

[2022-08-26 17:50] rfay commented on #95
You're not entirely correct.

PhpStorm's "Use Compose V2" is actually misnamed. It actually tells PhpStorm to use `docker compose` instead of `docker-compose`, which we do not need to do, and that does not need to be checked for DDEV at all.

I do find that there seems to be no way to get PhpStorm to use docker-compose inside WSL2, which is a pretty serious problem.

I recommend that the Plugin ch

[2022-08-31 02:19] julienloizelet opened #100 "(root) Additional property name is not allowed (PHPUNIT runner)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Are you sure that this bug is related to this DDEV Integration Plugin?

- [ ] I am sure

### Enter your error report ID (If available)

_No response_

### Describe the bug

Hi,
I followed the instruction [here](https://ddev.readthedocs.io/en/latest/users/topics/phpstorm/) to test the plugin with phpunit.

When

[2022-08-31 02:32] rfay commented on #100
DDEV v1.21.1 adds the `name` element to make things easier in the future for this plugin.

But you may be using an old docker-compose version?

See

* https://github.com/php-perfect/ddev-intellij-plugin/issues/95

If you'll set the docker-compose binary to the one provided by DDEV I think your problem will go away.

[2022-08-31 02:48] julienloizelet commented on #100
indeed, if I modify the `Docker compose executable` path to point to ` ~/.ddev/bin/docker-compose`, there is no more error.

I guess this issue can be closed.

Thanks @rfay

[2022-08-31 03:08] rfay commented on #100
You probably have docker-compose v1 in your $PATH, `docker-compose --version` will tell you. If you use Docker Desktop, you can probably also fix this with changing to docker-compose v2 in the Docker Desktop settings.

[2022-08-31 03:20] rfay commented on #100
I guess I had hoped we could solve this with

* #95
but it wasn't accepted. I think it should be reconsidered.

However, this PR to DDEV docs may help:

* https://github.com/drud/ddev/pull/4157

[2022-08-31 04:20] julienloizelet commented on #100
For information, `docker-compose --version` returns  `v2.1.1` (and I'm not using Docker Desktop).

[2022-09-01 20:37] nico-loeber commented on #100
@julienloizelet, please make sure to enable docker compose v2 support in PHPStorm (`File | Settings | Build, Execution, Deployment | Docker | Tools`).

![image](https://user-images.githubusercontent.com/18308418/188006810-07b9ff74-8491-4d7c-b07a-35e7a98611c4.png)

Please note that no manual configuration is required for running tests in ddev when using the plugin.
You can just click the play butto

[2022-09-01 20:39] #100 closed

[2022-09-01 22:57] nico-loeber commented on #92
Thanks for the detailed information @rfay!

I was able to reproduce the issue that way.
The missing "Server" input is a reference to a "docker remote server". Such a server is generated by PHPStorm by default when there is none configured manually - at least sometimes.
In some situations, for example after restoring the default settings, this default server is missing.
I've added some code that wi

[2022-09-01 23:06] rfay commented on #92
Oh, you're talking about PhpStorm's idea of a "Server", as described above (#3 in https://github.com/php-perfect/ddev-intellij-plugin/issues/92#issuecomment-1218126836). I was quite confused by your use of the words "docker remote server", as there's nothing here about "remote", and it has nothing to do with "setting up a server", it's just PhpStorm configuration of the Docker server. Terminology

[2022-09-02 18:44] #92 closed

[2022-09-02 18:56] nico-loeber commented on #92
You are not the only one who is confused @rfay! It took me several hours to find out which entity I have to create to ensure the Docker "Server" is available. For PHPStorm it is a "RemoteServer" of the type "DockerCloud".

This should be fixed with the next release.

[2022-09-02 19:50] nico-loeber commented on #100
It makes a difference when using the docker compose binary provided by docker desktop. I had trouble when I had compose v2 support enabled in docker desktop, but not in PHPStorm when importing the docker-compose.yml created by ddev (with compose v2 syntax).

[2022-09-02 20:48] #10 closed

[2022-09-07 13:19] Dergell opened #104 "DDEV config not recognized from subfolders"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Are you sure that this bug is related to this DDEV Integration Plugin?

- [X] I am sure

### Enter your error report ID (If available)

_No response_

### Describe the bug

I have a project running on Windows 10 WSL2 Ubuntu with DDEV. Everything is working fine from the terminal, but the DDEV Integration Plugi

[2022-09-09 17:03] nico-loeber commented on #104
Hey @Dergell,

this is the expected behavior.

If you got a mono repo and www is the actual root of the project you would like to work on, please open this folder as a project in phpstorm.
The ddev config is expected to be at the project root, same as a composer.json for example.

[2022-09-09 17:03] #104 closed

[2022-09-14 10:50] dahaupt opened #106 "Autoconfigured data source DSN not compatible to MariaDB Connector/J v3"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Are you sure that this bug is related to this DDEV Integration Plugin?

- [X] I am sure

### Enter your error report ID (If available)

_No response_

### Describe the bug

The autoconfigured data source can not establish a connection.

**Error message:** Incorrect driver and/or database URL specified.

Relate

[2022-09-16 19:13] nico-loeber commented on #106
Hey @dahaupt,

thank you for reporting this issue!

I've fixed this in https://github.com/php-perfect/ddev-intellij-plugin/commit/0534375af67771ccb7341f94b3f9f6db572dea79.
The fix will be included in the next release of the plugin.

[2022-09-16 19:58] #106 closed

[2022-10-11 19:49] cngJo opened #113 "DDEV projects not recognized when `.ddev` directory is in parent directory"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Are you sure that this bug is related to this DDEV Integration Plugin?

- [X] I am sure

### Enter your error report ID (If available)

_No response_

### Describe the bug

This is kinda related to #104 but the other way around :-)

We have separate repositories for our `ddev` configuration, since we often man

[2022-10-11 20:41] rfay commented on #113
What do you open in PhpStorm, `project-name-ddev` ? Because if you do, I'd expect it to work, if not, please try it.

[2022-10-14 08:12] CipixDevelopers opened #114 "DDEV connection failed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Are you sure that this bug is related to this DDEV Integration Plugin?

- [X] I am sure

### Enter your error report ID (If available)

d1c0741199b548348e7abe5aa23bfde3
4c181c2d75864c9dbcf503da54ece37a
6a9d0b82f8214d66922c31c2c1095b99

### Describe the bug

Trying to run a drush cex -y inside ddev container an

[2022-10-14 11:23] rfay commented on #114
Please make sure you're using ddev v1.22.2+, as it has a significant improvement in how it decides whether there is internet available.

[2022-10-14 12:53] CipixDevelopers commented on #114
https://github.com/drud/ddev/releases

Version [v1.21.2](https://github.com/drud/ddev/releases/tag/v1.21.2) is the latest release. I assume v1.22.2 is in some other brew tap?

[2022-10-14 12:56] rfay commented on #114
Updated my comment. I just can't keep my ones and twos sorted out.  v1.22.2 is what you should be using here.

[2022-10-14 13:03] CipixDevelopers commented on #114
You mentioned v1.22.2 again, but it is not released in this repo https://github.com/drud/ddev/releases, I am on the latest v1.21.2.
Do I need to change my homebrew tap to a different one to join like a beta-channel?

[2022-10-14 13:08] rfay commented on #114
I *really* can't type it right. As I said I updated my comment, look at it as I apparently can't type. https://github.com/php-perfect/ddev-intellij-plugin/issues/114#issuecomment-1278876187

[2022-10-14 13:11] CipixDevelopers commented on #114
I noticed you changed it here https://github.com/php-perfect/ddev-intellij-plugin/issues/114#issuecomment-1278876187

But you mentioned v1.22.2 again after that "**v1.22.2 is what you should be using here.**" here: https://github.com/php-perfect/ddev-intellij-plugin/issues/114#issuecomment-1278972726

Which confuses me because v1.22.2 isn't released as far as I can see.

[2022-10-15 12:05] mejta commented on #114
@rfay Same issue here :( I'm using:

[code]

That happened when I switched from ddev on Colima to ddev on docker-desktop. I uninstalled ddev and Colima and made a fresh install of docker-desktop and ddev again.

It's a great tool, this integration and it would be great to make it work again :)

Thank you!

Dan

[2022-10-15 12:32] rfay commented on #114
If you can get the plugin to make a report it may help the plugin authors to debug this. Thanks!

[2022-10-15 20:43] nico-loeber commented on #114
Hey @CipixDevelopers,

Thanks for reporting your issue.
I've checked the error reports you have linked. Two of them seem Docker related and one ddev releated.
See the stderr of the following commands.

[code]

[code]

[code]

I hope it's okay to say that you are using DDEV v1.21.2 on Docker Desktop on Mac OS X 12.6.1. This information might help @rfay to give some useful input.

As these errors ar

[2022-10-15 20:53] rfay commented on #114
The first two are just broken Docker, as you say.

The third one shows "Failed to open /Users/****/.ddev/.global_commands/.git/HEAD". I'm not sure due to the editing whether that's the project .global_commands directory or a never-would-exist ~/.ddev/.global_commands directory. But if it's the project .ddev/.global_commands directory, please delete it (it's just created on `ddev start` anyway. And

[2022-10-15 20:54] nico-loeber commented on #113
Hey @cngJo,

thanks for your feedback!
Sorry for the late reply, I didn't see any notification...

Indeed this is not yet supported by the plugin. The plugin will auto discover the .ddev configuration in the the root of the opend proejct.
Probably it would be possible to detect the configuration outside of the project scope, but this is... probably not that a good idea. The Plugin will also allow

[2022-10-15 20:58] nico-loeber commented on #114
@rfay the anonymized part of the path is `/{Name}/local projects/{projectName}/`. I did not want to disclose any private data.

Thanks for your support on this @rfay!

[2022-10-16 14:55] cngJo commented on #113
Hey @nico-loeber,

thanks for the reply :-)

I get the point that its propably a bad idea to work with directories outside the project scope.
I don't know how the plugin works internally but could configuring the ddev project name and use this as a base to interact with ddev instead of the `.ddev` directory?

I know its possible to provide this name to most of (or even all) `ddev` sub commands and

[2022-10-19 10:21] CipixDevelopers commented on #114
So we have a git instance in ~/.ddev/commands, here we have a bunch of (shared) custom commands that automatically get added to every project since in the {project}/.ddev/.global_commands folder. Maybe the fact that a git repo is running in ~/.ddev/commands is causing some unintended issues?

[2022-10-19 12:36] rfay commented on #114
Again, see if you can recreate any issue with `ddev describe`, as that's what the plugin is doing. But note above that 2 out of the 3 captured errors were about docker problems, so try to fix that too.

[2022-10-20 08:12] verdure-peuser opened #115 "Database connection uses wrong type"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Are you sure that this bug is related to this DDEV Integration Plugin?

- [X] I am sure

### Enter your error report ID (If available)

_No response_

### Describe the bug

On projects with mariadb instead of mysql the plugin generates the following connection string

jdbc:mysql://127.0.0.1:49153/db?user=db&pa

[2022-10-20 08:15] verdure-peuser commented on #115
It seems this has been raised before in https://github.com/php-perfect/ddev-intellij-plugin/issues/106 but should be fixed.

[2022-10-21 13:14] verdure-peuser commented on #115
@nico-loeber understood, sorry for reopening this bug. i could see it in closed but haven't checked against the next release.
If you could mark this with the next milestone for 1.1 it would be visible and hopefully someone else doesn't mention it a 3rd time :)

P.S. i noticed that if you change the type to mariadb, this will only last until you reopen the affected project. The plugin does constant

[2022-10-21 13:24] nico-loeber commented on #115
@verdure-peuser, no problem, it was my mistake to close the issue before releasing the fix.

Yes, all automatically configured settings get updated automatically whenever a change to the ddev container could happen (start/restart). As your manual configuration change is seen as a "mistake" it will is corrected by the plugin.
You can avoid this by adding your own data source with another name (not

[2022-11-04 13:02] nico-loeber commented on #115
@verdure-peuser, could you please confirm the issue is solved for you with version 1.0.3 of the plugin?

[2022-11-04 13:07] nico-loeber opened #122 "Enable 'All schemas' setting for generated data sources"
### Discussed in https://github.com/php-perfect/ddev-intellij-plugin/discussions/121

<div type='discussions-op-text'>

<sup>Originally posted by **IT-Cru** November  3, 2022</sup>
Currently the DDEV plugin seems to use always only the default database schema for its DDEV DB connection. This is working fine, if you only use default DB of your DDEV env.

But in more complex scenarios, where you use

[2022-11-04 13:20] verdure-peuser commented on #115
@nico-loeber works like a charm, thanks :)

[2022-11-04 13:21] #115 closed

[2022-11-04 20:41] pyrello opened #123 "Using a `~` in PhpStorm Docker Compose executable settings doesn't work"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Are you sure that this bug is related to this DDEV Integration Plugin?

- [ ] I am sure

### Enter your error report ID (If available)

_No response_

### Describe the bug

When following https://ddev.readthedocs.io/en/latest/users/topics/phpstorm/, the docs indicate that you should enter `~/.ddev/bin/docker-c

[2022-11-04 20:46] rfay commented on #123
As @pyrello points out, this really has nothing to do with the plugin (except that it's a recommended part of preparing for the plugin). However, it's something people might incorrectly blame on the plugin because of the coincidence.

I should note also that PhpStorm *tried desperately* get get @pyrello not to make this mistake:
<img width="730" alt="Cursor_and_Preferences" src="https://user-image

[2022-11-24 12:32] jonaseberle commented on #114
I don't know if I should open a new issue because there seem to be various problems tackled already in here.

Anyways, the failed Data Source connection was in my case that I was using
[code]
yet the plugin generates a `:mysql:` connection string:
![image](https://user-images.githubusercontent.com/1678001/203784263-4f261fb2-49c7-4186-a811-763ed80f722e.png)

Somehow newer JDBC drivers seem to disti

[2022-11-29 13:08] Schrank opened #129 "Not compatible with PHPStorm 223 (2022.3 Beta)"
### Enter your error report ID (If available)

_No response_

### Describe the bug

Trying to install the plugin on the current EAP, but unfortunately it is not compatible :-(

PhpStorm 2022.3 Beta
Build #PS-223.7571.15, built on November 10, 2022
Licensed to PhpStorm EAP user: Fabian Blechschmidt
Expiration date: December 10, 2022
Runtime version: 17.0.5+1-b653.12 aarch64
VM: OpenJDK 64-Bit Serve

[2022-11-29 16:28] nico-loeber commented on #114
Hi @jonaseberle,

Are you using the latest version of the plugin?

This should be fixed in
- https://github.com/php-perfect/ddev-intellij-plugin/issues/115

[2022-11-29 17:02] Schrank commented on #129
Happy to test! :-)If you need any other help, tell me. Short on time, but giving my best

[2022-11-29 19:38] jonaseberle commented on #114
@nico-loeber, I am using [v1.0.3](https://github.com/php-perfect/ddev-intellij-plugin/releases/tag/1.0.3)
Yes, thank you! https://github.com/php-perfect/ddev-intellij-plugin/issues/115 is exactly my issue.